
showPort() {
        lsof -i tcp:$1
}

alias port=showPort
# git-related aliases
alias recent='for k in `git branch | perl -pe s/^..//`; do echo -e `git show --pretty=format:"%Cgreen%ci %Cblue%cr%Creset" $k -- | head -n 1`\\t$k; done | sort -r | head'

alias listr="git for-each-ref refs/remotes/ --format='%(authorname) %(refname)' --sort=authorname"

alias prettylog="git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"


alias -g grp='|grep -i'

alias myvenv='source /home/r.paprocki/workplace/rtest/models/venv3/bin/activate'
